:root {
    --primary: #FF5722;
    --primaryHover: #fa3a00;
    --secondary: #FFC045;
    --secondaryHover: #FFB41F;
    --sidebarColor: #252F3F;
    --activeColor: #353e4c;
    --navigation-bar: 12.5rem;
    --darkColor: #252F3F;
}

/* * {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
} */


ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.preloader {
    background-color: var(--darkColor);
}
.scroll {
    height: 100%;
}

.login-page {
    background-color: var(--darkColor);
}

.nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 1px 1px #99999920;
    color: #555;
    z-index: 10000;
}

.nav-container {
    padding: .25rem 1rem;
    display: flex;
    /* justify-content: space-between; */
}

.nav-container>*,
.nav-menu-back {
    display: flex;
    min-width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
}

.nav-container i {
    font-size: larger;
}

.nav-logo img {
    height: 1.25rem;
}
/* 
[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid var(--primaryHover);
} */

.main-sidebar {
    background: var(--sidebarColor);
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
}

.nav-menu-back {
    display: flex;
}

.nav-menu-back i {
    font-size: larger;
    color: #555;
}

.nav-link.dropdown-toggle {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-sidebar .nav-link.active,
.nav-sidebar .show > .nav-link {
  background-color: var(--activeColor);
}

/* .dropdown-menu {
    background: var(--secondary);
    transform: none !important;
    border: none;
    padding: .75rem;
}

.dropdown-menu h5 {
    color: var(--primary);
}

.dropdown-menu p {
    color: var(--primary);
    font-style: italic;
}

.dropdown-menu ul {
    padding-inline-start: 20px;
    list-style-type: disc;
} */

/* .content-wrapper {
    padding-top: 90px;
} */

.ongoing-projects>li+li {
    margin-top: 1rem;
}

.ongoing-projects ul {
    list-style-type: disc;
    padding-inline-start: 20px;
}

.ongoing-projects ul>li::marker {
    color: var(--secondary);
}

.ongoing-projects a {
    color: #eee;
}

.ongoing-projects a:hover {
    color: #fff;
}
/* 
.btn-secondary {
    color: #0C2233;
    font-weight: bolder;
    border: none;
    background-color: var(--secondary);
}

.btn-secondary:hover{
    color: #0C2233;
    background-color: var(--secondaryHover);
} */

.btn-white{
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

/* .nav-link:hover{
    background-color: var(--secondary) !important;
    color: var(--secondary) !important;
} */
/* .nav-link:hover i{
    color: var(--secondary) !important;
} */

.nav-link-1:hover {
    background-color: #59BECD;
}

.text-biru-muda {
    color: #59BECD;
}

.text-biru-tua {
    color: #065471;
}

.text-oren {
    color: #FFC045;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-progress {
    color: #93278F !important;
}

.text-pending {
    color: #FF0000 !important;
}

.text-notif{
    color: #7f7f7f !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.show_page {
    display: block !important;
}

.panel {
    display: none;
}

.con-button {
    background-color: #efefef;
}

.panel-btn {
    background-color: #fff !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-oren {
    background-color: #FFC045;
    color: #000;
}

.bg-biru-muda {
    background-color: var(--sidebarColor);
    color: #fff;
}

#goals .card,
#teams .card {
    min-height: 14rem;
}

.img-project-card {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50% !important;
}

.list-assigned li {
    float: left;
    margin-left: -0.5rem;
}

.list-assigned img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
    border-radius: 50% !important;
    border: 3px solid white;
}

.list-assigned-detail li+li {
    margin-left: -0.5rem;
}

.list-assigned-detail img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border-radius: 50% !important;
    border: 3px solid white;
}

.legend {
    display: flex;
    flex-direction: row;
}

.legend::before,
.legend::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

/* @media screen and (min-width: 900px) {
    .nav-menu {
        display: none;
    }

    .nav-menu-back {
        display: none;
    }

    .sidebar-main {
        width: inherit;
    }

    .edit-contact {
        max-width: 40vw;
    }
} */

@media screen and (min-width: 1900px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 2800px) {
    html {
        font-size: 32px;
    }
}

.main-sidebar .nav-item .nav-link p, .main-sidebar .nav-item .nav-link i{
    color: #fff;
}

.nav-treeview .nav-item .nav-link p{
    padding-left: 34px;
}

.font-larger{
    font-size: larger;
}
.col-in{
    padding: 20px;
}
.label-status {
    letter-spacing: .05em;
    border-radius: 60px;
    padding: 4px 12px;
    font-size: small;
    font-weight: 500 !important;
}

.btn-circle{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    padding: 6px 0px;
    border-radius: 15px;
}

.nav-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top: 3px solid var(--primary) !important;
}

nav-link a {
    color: var(--primary) !important;
}

.thumb-index, .thumb-index-sm, .thumb-index-lg, .thumb-dashboard{
    object-fit: cover;
    object-position: center;
    border-radius: 50% !important;
}

.thumb-index{
    height: 50px;
    width: 50px;
}

.thumb-index-sm{
    height: 30px;
    width: 30px;
}

.thumb-index-lg{
    height: 100px;
    width: 100px;
}

.thumb-dashboard{
    height: 60px;
    width: 60px;
}

.select2 {
    width:100% !important;
}

.modal-content{
    background-color: #f9f9f9 !important;
}

.brand-link .brand-image {
    margin-top: 0px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 60px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline > li > a{
    font-weight: 600;
}
ul.timeline > li > p{
    color: #78838e;
}